<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instagram</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="wrapper">
	<div class="header">
		<div class="imageInst"></div>
		<div class="top">
			<div class="logo">
				<img src="instagram.png" alt="instagram" style="width: 175px;">
			</div>
			<div class="form">
				<div class="input_field">
					<input type="text" placeholder="Телефон,имя пользователя или эл.адрес" class="input">
				</div>
				<div class="input_field">
					<input type="password" placeholder="Пароль" class="input">
				</div>
				<div class="btn"><a href="#">Войти</a></div>
			</div>
			<div class="or">
				<div class="line"></div>
				<p>ИЛИ</p>
				<div class="line"></div>
			</div>
			<div class="dif">
				<div class="fb">
					<img src="facebook.png" alt="facebook">
					<p>Войти через Facebook</p>
				</div>
				<div class="forgot">
					<a href="#">Забыли пароль?</a>
				</div>
			</div>
		</div>
		<div class="signup">
			<p>У вас еще нет аккаунта?<a href="#">Зарегистрироваться</a></p>
		</div>
		<div class="apps">
			<p>Установите приложение.</p>
			<div class="icons">
				<a href="#"><img src="appstore.png" alt="appstore"></a>
				<a href="#"><img src="googleplay.png" alt="googleplay"></a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="links">
			<ul>
				<li><a href="#">Информация</a></li>
				<li><a href="#">Блог</a></li>
				<li><a href="#">Вакансии</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">Конфиденциальность</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Популярные аккаунты</a></li>
				<li><a href="#">Хэштеги</a></li>
				<li><a href="#">Места</a></li>
				<li><a href="#">Instagram Lite</a></li>
			</ul>
		</div>
		<div class="copyright">
			© Instagram от Facebook, 2021
		</div>
	</div>
</div>

</body>
</html>